.layoutSection {
  background-color: var(--color-background); /* Background color from tokens */
  width: 100%; /* Stretch background */
}

.container {
  max-width: 1720px;
  margin: 0 auto;
  text-align: center;
  min-height: var(--section-full-height);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}