.languageButton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  width: 40px; /* Set size for the button */
  height: 40px;

  &:hover .languageLabel {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional hover effect */
  }
}

.globeIcon {
  filter: var(--icon-filter); /* Dynamic color based on theme */
}

.languageLabel {
  position: absolute;
  top: -8px;
  right: -8px;
  background: var(--color-background);
  color: var(--color-text);
  font-size: 12px;
  font-weight: 700;
  padding: 2px 6px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  transition: background-color 0.3s ease, color 0.3s ease;
}
