.section {
  display: flex;
  align-items: center;
  padding: 20px 16px;
  background-color: var(--color-background);
  gap: 100px;
  height: calc(100vh - 93px);

  @media (max-width: 768px) {
    flex-direction: column; /* Stack content vertically */
    gap: 40px; /* Reduce gap between elements */
    min-height: var(--section-full-height);
    height: auto; /* Allow auto height for mobile */
    padding: 20px 16px; /* Adjust padding for smaller screens */
  }
}

.container {
  max-width: 1720px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 100px;
  align-items: center;

  @media (max-width: 768px) {
    flex-direction: column; /* Stack items vertically */
    gap: 20px; /* Reduce gap */
  }
}

.wordCloud {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  color: var(--color-text);
  font-size: 16px;
  line-height: 24px;
  width: 850px;
  height: 100%;
  aspect-ratio: 1/1;

  @media (max-width: 768px) {
    width: 100%; /* Full width for mobile */
    min-height: 500px;
    height: auto; /* Auto height for mobile */
  }
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;

  @media (max-width: 768px) {
    gap: 20px; /* Reduce gap for mobile */
    align-items: start; /* Center align for mobile */
    text-align: start; /* Center text */
  }
}

.title {
  font-size: 80px;
  line-height: 1.2;
  color: var(--color-primary);
  font-weight: 700;
  margin: 0;
  height: 300px;

  @media (max-width: 768px) {
    font-size: 40px; /* Reduce font size */
    line-height: 1.2;
    height: auto; /* Allow auto height */
  }
}

.paragraph {
  font-size: 18px;
  line-height: 28px;
  color: var(--color-primary);
  margin-top: 0;
  max-width: 500px;

  @media (max-width: 768px) {
    font-size: 16px; /* Slightly smaller font */
    line-height: 24px;
    max-width: 100%; /* Full width */
  }
}

.button {
  background-color: var(--color-primary);
  color: var(--color-background);
  border: 2px solid #000000;
  padding: 12px 48px;
  font-size: 32px;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 6px 6px 0 #000000;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  width: fit-content;
  margin-top: 10px;

  &:hover {
    background-color: var(--color-hover);
    box-shadow: 6px 6px 0 #333333;
  }

  @media (max-width: 768px) {
    font-size: 16px; /* Reduce font size */
    padding: 10px 24px; /* Adjust padding */
    width: 100%; /* Full width for buttons */
  }
}

.dynamicText {
  vertical-align: baseline;
  border-right: 2px solid var(--color-primary);
  animation: blink 0.7s steps(1) infinite;
  font-weight: 700;
  color: var(--color-primary);

  @media (max-width: 768px) {
    //font-size: 24px; /* Adjust font size for mobile */
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}