.layoutSection {
  background-color: var(--color-background); /* Белый фон */
  width: 100%; /* Фон растягивается */
}
.container {
  max-width: 1720px;
  margin: 0 auto;
  text-align: center;
  height: var(--section-full-height);
  display: flex;
  align-items: center;
  justify-content: center;
}
