.layoutSection {
  background-color: var(--color-background); /* Background color from tokens */
  width: 100%; /* Stretch background */
}

.container {
  max-width: 1720px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-direction: column;
}

.mainCard {
  height: var(--section-full-height);
  display: flex;
  width: 100%;
  gap: 30px;
  align-items: center;
}

.serviceDetails {
  height: fit-content;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: start;
  padding: 40px;
  max-width: 800px;
  margin: 0 auto;
  text-align: start;
  background-color: var(--color-muted); /* Light muted background for content */
  border-radius: 10px;
}
.canvasContainer {
  display: flex;
  flex: 1;
  height: 100%;
  width: 100%;
}

.title {
  font-size: 2.5rem;
  color: var(--color-text); /* Text color from tokens */
  margin-bottom: 1.5rem;
}

.image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin: 2rem 0;
}

.description {
  font-size: 1.125rem;
  color: var(--color-text); /* Text color from tokens */
  line-height: 1.6;
}